#item-info-name {
    width: 190;
    margin: 5;
    font-size: 18;
    font-weight: bold;
    color: rgb(217, 153, 49);
}

#item-info-required {
    width: 194;
    margin: 3;
    font-size: 12;
    font-weight: bold;
    text-align: right;
    color: rgb(255, 0, 0);
}

#item-info-option {
    width: 190;
    margin: 5;
    font-size: 12;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#item-detail {
    width: 194;
    margin: 3;
    font-size: 12;
    color: rgb(255, 255, 255);
}