#item-tooltip-area {
    position: absolute;
    width: 400;
    height: 200;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#item-image-area {
    display: block;
    width: 200;
    height: 200;
    border-right-color: rgb(250, 208, 50);
    border-right-style: solid;
    border-right-width: 1px;
    box-sizing: border-box;
}

#item-enhancement-area {
    float: right;
    width: 195;
    height: 10;
    margin-top: 5;
    margin-right: 4;
    font-size: 15;
    text-align: right;
    font-weight: bold;
    color: red;
}

#item-image {
    width: 170;
    height: 170;
    margin-left: 15;
}

#item-rating-area {
    float: right;
    width: 195;
    height: 10;
    margin-top: -10;
    margin-right: 4;
    font-size: 15;
    text-align: right;
    color: rgb(250, 208, 50);
}

#item-info-area {
    display: block;
    width: 130;
    height: -5;
    margin-top: -205;
    margin-left: 200;
}

#item-info {
    display: block;
    overflow: auto;
    width: 200;
    height: 120;
    padding: 3;
    border-bottom-color: rgb(250, 208, 50);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#item-info-name {
    display: block;
    width: 200;
    margin: 5;
    font-size: 18;
    font-weight: bold;
    color: rgb(217, 153, 49);
}

#item-info-required {
    display: inline-block;
    width: 200;
    margin-left: 5;
    font-size: 12;
    font-weight: bold;
    color: red;
    text-align: right;
}

#item-info-option {
    display: inline-block;
    width: 200;
    margin: 5;
    font-size: 12;
    font-weight: bold;
    color: white;
}

#item-detail {
    width: 200;
    padding: 3;
    font-size: 12;
    color: white;
}